/* ProductDetail.css */
.product-detail-img {
    transition: transform 0.3s ease;
    max-height: 600px;
    object-fit: contain;
}

.product-detail-img:hover {
    transform: scale(1.03);
}

/* RelatedProductsCard.css */
.product-card-image {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .product-card-image {
    transform: scale(1.05);
}